
*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(142, 52, 96);
    font-family: Arial, Helvetica, sans-serif;

}

.html{
    color: rgb(245, 157, 7);
}

.css{
    color: rgb(32, 32, 203);
}
.js{
    color: rgb(208, 214, 22);
}

.ang{
    color: rgb(215, 54, 62);
}

.sb{
    color: rgb(56, 201, 37);
}


.tec{
    font-weight: bold;
}


h1{
    font-size: 1.8rem;
    text-align: center;
    color: white;
    margin-top: 6.6rem;
}

.second-title{
    margin-top: 1.8rem;
}

.box-container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 30px 9% 20px;
    max-width:698px;
    margin: auto;
}


.box-container .box{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 15px;
    cursor: pointer;
    text-align: center;
   
}

.main{
    max-width: 100vh;
    border-radius: 10px;
    background: #f0eeee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 1.563rem;
    margin: auto;
    margin-bottom: 30px;
    text-align: left;
    padding-bottom: 30px;
    align-items: center;
}

.main h2{
    margin-top: 15px;
    font-size: 1.3rem;
}

.main .p{
    margin-top:10px;
}

.main .p a{
    text-decoration: none;
    color: rgb(142, 52, 96);
}

.main .container{
    margin-top: 30px;
    
   
}
.main .container .img img{
   padding: 20px;
   display: flex;
   margin: auto;
   max-width: 30rem;
   object-fit: cover;
}



.box-container .box a{
    text-decoration: none;
}
.box-container .box .img{
    overflow: hidden;
    border-radius: 8px;
}

.box-container .box .img a img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    transition: all .1s linear;
   
}

.box-container .box .img a img:hover{
   transform: scale(1.1);
}

.box-container .box .title{
    display: block;
    margin: .8rem 0;
    font-weight: bold;
    color: black;
}

.box-container .box .title:hover{
    text-decoration: underline;
}

.inicio{
    display: flex;
    margin-bottom: 30px;
    font-size: 1.6rem;
    
}

.inicio a{
    margin: auto;
    text-decoration: none;
   
    color:  rgb(142, 52, 96);
}

.inicio a:hover{
    color:  rgb(249, 252, 147);
}



footer{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    color: white;
}

footer .social-media {
   width: 20%;
   display: flex;
   justify-content: space-between;
   margin-bottom: .6rem;
   
}

footer .line{
    width: 90%;
    height: 1px;
    background: rgb(145, 145, 145);
}

footer .social-media i{
    font-size: 2rem;
    transition: all .2s linear;
}

footer .social-media i:hover{
    color: rgb(142, 52, 96);
}

footer .social-media i{
    font-size: 2rem;
}


footer .social-media a:link,
a:visited{
    color: #fff;
}


footer .name{
    margin-top: .6rem;
    font-size: .85rem;
}

footer .name strong{
    color: rgb(155, 81, 224);
}


@media (max-width: 842px){
    .main{
        margin: auto 15px 30px;

    }

}


@media (max-width: 672px){
    html{
        font-size: 85%;
    }

    .header{
       height: 60px;
       
    }
    

    .header .logo-container{
        margin-left: 1rem;
    }

    footer .social-media {
        width: 40%;
     }

}

@media (max-width: 475px){


  .main .container .img img{
  
   max-width: 20rem;
   
   
    }
}
